{% extends "messageboard/base.html" %}

{% block head %}
    <script>
        const maxSize = 8 * 1024 * 1024; // 2MB in bytes

        async function uploadImageToAPI(fileInput) {

            window.showSpinner("Uploading...");

            const body = document.getElementById("body");
            const file = fileInput.files[0];
            const formData = new FormData();

            formData.append('file', fileInput.files[0]);

            if (file.size > maxSize) {
                alert('File is too large. Please choose an image less than 8MB.');
                return;
            }

            // Extract the CSRF token from the hidden input field
            const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            try {

                const response = await fetch('/api/v1/media', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken  // Add the CSRF token to the request headers
                    },
                    body: formData
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const jsonResponse = await response.json();
                const {thumbnail_url, id} = jsonResponse;
                window.hideSpinner();

                return {thumbnail_url, id}

            } catch (error) {

                console.error('Error uploading image:', error);
                alert("Something went wrong. Try again.");
                window.hideSpinner();

            }

        }

        document.addEventListener("DOMContentLoaded", () => {
            const imageInput = document.getElementById("image-input");
            const imageUploadBtn = document.getElementById("image-upload");
            const formElm = document.getElementById("post-form");
            const imageElms = document.getElementById("images");

            imageInput.addEventListener('change', async function () {

                const {thumbnail_url, id} = await uploadImageToAPI(this);
                const wrapper = document.createElement("span");
                wrapper.className = "relative inline-block mb-2 me-2"

                const image = document.createElement("img")
                image.className = "inline-block h-14 w-14 rounded-md border border-gray-300";
                image.src = thumbnail_url;

                const deleteBtn = document.createElement("span");
                deleteBtn.textContent = "x"
                deleteBtn.style.lineHeight = "14px"
                deleteBtn.className = "absolute text-sm cursor-pointer text-center text-white right-0 top-0 block h-4 w-4 -translate-y-1/2 translate-x-1/2 transform rounded-full bg-red-500 ring-2 ring-white"

                wrapper.appendChild(image);
                wrapper.appendChild(deleteBtn);
                imageElms.appendChild(wrapper);

                const formInput = document.createElement("input")
                formInput.type = "hidden"
                formInput.name = "media"
                formInput.value = id;

                formElm.appendChild(formInput);

                deleteBtn.addEventListener("click", () => {
                    formElm.removeChild(formInput);
                    imageElms.removeChild(wrapper);
                });

            });

            imageUploadBtn.addEventListener("click", () => {
                imageInput.click();
            });

        });
    </script>
{% endblock %}

{% block content %}
    <div class="rounded shadow bg-white p-4">
        <div class="text-sm mb-2 text-gray-900">
            You are posting as <span class="font-medium">@{{ request.user.display_name }}</span>
        </div>
        {% for error in form.non_field_errors %}
            <div class="p-2 rounded border border-red-700 bg-red-300 text-red-700 mb-2 text-sm">
                {{ error }}
            </div>
        {% endfor %}
        <form method="post" enctype="application/x-www-form-urlencoded" id="post-form">
            {% csrf_token %}
            <input class="rounded border border-gray-300 w-full p-2 text-sm mb-2"
                   placeholder="Enter the title of your post here..."
                   name="title" value="{{ form.data.title }}" required>
            {% if form.errors.body %}
                <div class="text-xs text-red-700 -mt-2 mb-2 pl-2">
                    {{ form.errors.body }}
                </div>
            {% endif %}
            <textarea class="rounded border border-gray-300 w-full p-2 h-32 text-sm"
                      placeholder="The body of your post"
                      name="body" id="body" required>{{ form.data.body }}</textarea>
            {% if form.errors.body %}
                <div class="text-xs text-red-700 -mt-2 pl-2">
                    {{ form.errors.body }}
                </div>
            {% endif %}
            <div class="text-xs mb-4 text-right">
                <span id="image-upload" class="text-gray-700 cursor-pointer"><i class="fa-sharp fa-upload"></i> Add image</span>
            </div>
            <div class="mb-4" id="images"></div>
            <button class="rounded-md px-3 py-2 text-sm text-white bg-purple-700 hover:bg-purple-900 hover:text-white">
                <i class="fa-sharp fa-pencil mr-2"></i> Post
            </button>
        </form>
        <input type="file" id="image-input" class="hidden" accept="image/*">
    </div>

{% endblock %}